/* line 1, ../scss/style.scss */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #979797;
}

/* line 7, ../scss/style.scss */
.container {
  margin: 0 auto;
  max-width: 1440px;
}

/* line 12, ../scss/style.scss */
.header {
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 700px;
}
/* line 18, ../scss/style.scss */
.header::before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* line 29, ../scss/style.scss */
.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
/* line 34, ../scss/style.scss */
.header__logo {
  position: relative;
  z-index: 2;
}
/* line 38, ../scss/style.scss */
.header__title {
  margin: 0;
  color: #A6E684;
}
/* line 42, ../scss/style.scss */
.header__description {
  margin: 0;
  margin-top: 15px;
  color: #ffffff;
}
/* line 47, ../scss/style.scss */
.header__list {
  padding: 0;
  margin: 0;
  display: flex;
}
/* line 52, ../scss/style.scss */
.header__item {
  list-style: none;
}
/* line 55, ../scss/style.scss */
.header__link {
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 50px;
  color: #ffffff;
  position: relative;
  z-index: 2;
  padding: 15px 25px;
  border: 1px solid transparent;
}
/* line 64, ../scss/style.scss */
.header__link:hover {
  border-radius: 25px;
  border: 1px solid #ffffff;
}
/* line 68, ../scss/style.scss */
.header__link--dowload {
  display: inline-block;
  margin-top: 415px;
  background-color: #A6E684;
  padding: 8px 30px;
  border-radius: 30px;
  color: #000000;
}

/* line 80, ../scss/style.scss */
.aboutme__title {
  text-align: center;
  text-transform: uppercase;
}
/* line 84, ../scss/style.scss */
.aboutme__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
/* line 89, ../scss/style.scss */
.aboutme__column {
  width: 50%;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
}
/* line 95, ../scss/style.scss */
.aboutme__subtitle {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px solid #A6E684;
}
/* line 100, ../scss/style.scss */
.aboutme__description {
  text-align: left;
  margin-top: 0;
}
/* line 104, ../scss/style.scss */
.aboutme__skills-list {
  width: 50%;
  margin: 0;
  text-align: center;
}
/* line 109, ../scss/style.scss */
.aboutme__skill-item {
  list-style: none;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
}
/* line 114, ../scss/style.scss */
.aboutme__skill-item::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  color: #A6E684;
  content: "\f078";
  margin-right: 15px;
}

/* line 129, ../scss/style.scss */
.contacts {
  margin-top: 20px;
  background-image: url(../img/contacts.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  position: relative;
}
/* line 137, ../scss/style.scss */
.contacts::before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* line 148, ../scss/style.scss */
.contacts__title {
  text-align: center;
  margin: 0;
  padding-top: 50px;
  position: relative;
  z-index: 2;
}
/* line 155, ../scss/style.scss */
.contacts__list {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-top: 100px;
}
/* line 164, ../scss/style.scss */
.contacts__item {
  list-style: none;
}
/* line 167, ../scss/style.scss */
.contacts__link {
  color: #ffffff;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 146px;
  position: relative;
  padding-top: 170px;
  padding-bottom: 150px;
}
/* line 176, ../scss/style.scss */
.contacts__link::before {
  content: "";
  display: block;
  width: 136px;
  height: 136px;
  border: 5px solid #A6E684;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 187, ../scss/style.scss */
.contacts__link:hover {
  color: #5aec0c;
}
/* line 191, ../scss/style.scss */
.contacts__logo {
  display: block;
  width: 146px;
  position: absolute;
  top: 48px;
  left: 0;
  font-size: 50px;
}

/* line 202, ../scss/style.scss */
.cv__title {
  text-align: center;
}
/* line 205, ../scss/style.scss */
.cv__wrapper {
  display: flex;
  justify-content: space-between;
}
/* line 209, ../scss/style.scss */
.cv__column {
  width: 50%;
  text-align: center;
}
/* line 213, ../scss/style.scss */
.cv__subtitle {
  display: inline-block;
}
/* line 216, ../scss/style.scss */
.cv__description {
  text-align: left;
  padding-right: 50px;
  padding-left: 50px;
}
/* line 221, ../scss/style.scss */
.cv__link {
  color: inherit;
}
/* line 223, ../scss/style.scss */
.cv__link--dowload {
  display: inline-block;
  margin-top: 20px;
  background-color: #A6E684;
  padding: 8px 30px;
  border-radius: 30px;
  color: #000000;
}

/* line 234, ../scss/style.scss */
.footer {
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  margin-top: 30px;
}
/* line 238, ../scss/style.scss */
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 243, ../scss/style.scss */
.footer__list {
  list-style: none;
  display: flex;
}
/* line 247, ../scss/style.scss */
.footer__item {
  margin-left: 20px;
  margin-right: 20px;
}
/* line 251, ../scss/style.scss */
.footer__link {
  color: #ffffff;
  font-size: 30px;
}
/* line 254, ../scss/style.scss */
.footer__link:hover {
  color: #5aec0c;
}

/*# sourceMappingURL=style.css.map */
