body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #979797;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.header {
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 700px;
  height: 100vh;
}

.header::before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header__bgcode {
  position: absolute;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
}

.header__logo {
  position: relative;
  z-index: 2;
}

.header__title {
  margin: 0;
  color: #A6E684;
}

.header__description {
  margin: 0;
  margin-top: 15px;
  color: #ffffff;
}

.header__list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  list-style: none;
}

.header__link {
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 50px;
  color: #ffffff;
  position: relative;
  z-index: 2;
  padding: 15px 25px;
  border: 1px solid transparent;
}

.header__link:hover {
  border-radius: 25px;
  border: 1px solid #ffffff;
}

.header__link--dowload {
  display: inline-block;
  margin-top: 415px;
  background-color: #A6E684;
  padding: 8px 30px;
  border-radius: 30px;
  color: #000000;
}

.aboutme__title {
  text-align: center;
  text-transform: uppercase;
}

.aboutme__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.aboutme__column {
  width: 50%;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
}

.aboutme__subtitle {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px solid #A6E684;
}

.aboutme__description {
  text-align: left;
  margin-top: 0;
}

.aboutme__skills-list {
  width: 50%;
  margin: 0;
  text-align: center;
}

.aboutme__skill-item {
  list-style: none;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
}

.aboutme__skill-item::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  color: #A6E684;
  content: "\f078";
  margin-right: 15px;
}

.contacts {
  margin-top: 20px;
  background-image: url(../img/contacts.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  position: relative;
}

.contacts::before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.contacts__title {
  text-align: center;
  margin: 0;
  padding-top: 50px;
  position: relative;
  z-index: 2;
}

.contacts__list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  margin-top: 100px;
}

.contacts__item {
  list-style: none;
}

.contacts__link {
  color: #ffffff;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 146px;
  position: relative;
  padding-top: 170px;
  padding-bottom: 150px;
}

.contacts__link::before {
  content: "";
  display: block;
  width: 136px;
  height: 136px;
  border: 5px solid #A6E684;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.contacts__link:hover {
  color: #5aec0c;
}

.contacts__logo {
  display: block;
  width: 146px;
  position: absolute;
  top: 48px;
  left: 0;
  font-size: 50px;
}

.cv__title {
  text-align: center;
}

.cv__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cv__column {
  width: 50%;
  text-align: center;
}

.cv__subtitle {
  display: inline-block;
}

.cv__description {
  text-align: left;
  padding-right: 50px;
  padding-left: 50px;
}

.cv__link {
  color: inherit;
}

.cv__link--dowload {
  display: inline-block;
  margin-top: 20px;
  background-color: #A6E684;
  padding: 8px 30px;
  border-radius: 30px;
  color: #000000;
}

.footer {
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  margin-top: 30px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item {
  margin-left: 20px;
  margin-right: 20px;
}

.footer__link {
  color: #ffffff;
  font-size: 30px;
}

.footer__link:hover {
  color: #5aec0c;
}
/*# sourceMappingURL=style.css.map */