.uppercase {
  text-transform: uppercase;
}

body {
  margin: 0;
  font-family: "Proxima Nova", sans-serif;
}

.container {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 15px;
}

.header {
  background: url("./img/back_screen_1.png") no-repeat center center;
  background-size: cover;
  color: #ffffff;
}
.header__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
@media (max-width: 600px) {
  .header__wrapper {
    align-items: center;
  }
}
.header__logo {
  background: url("./img/logo.svg") no-repeat center center;
  background-size: contain;
  width: 224px;
  height: 83px;
  margin-top: 22px;
}
@media (max-width: 600px) {
  .header__logo {
    margin-top: 0;
    width: 40%;
  }
}
.header__contacts {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 55px;
  margin-left: auto;
  color: #e3eaee;
}
@media (max-width: 600px) {
  .header__contacts {
    margin-top: 0;
    width: 55%;
  }
}
.header__contacts-tel {
  color: inherit;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
  padding-left: 41px;
  background: url("./img/call.svg") no-repeat left center;
  background-size: 20px 20px;
}
@media (max-width: 600px) {
  .header__contacts-tel {
    font-size: 16px;
  }
}
.header__contacts-email {
  color: inherit;
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
  padding-left: 41px;
  background: url("./img/mail.svg") no-repeat left center;
  background-size: 20px 20px;
}
@media (max-width: 600px) {
  .header__contacts-email {
    font-size: 16px;
  }
}
.header__title {
  margin-top: 79px;
  font-size: 33px;
  font-weight: 400;
}
@media (max-width: 600px) {
  .header__title {
    margin-top: 30px;
  }
}
.header__list-wrapper {
  margin-top: 13px;
  border-radius: 5px 25px;
  border: 4px solid #961a37;
  padding: 23px 0px 23px 24px;
  max-width: 474px;
}
.header__list-title {
  font-size: 20px;
  font-weight: 400;
}
.header__list {
  margin: 0;
  padding: 0;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 400;
  padding-left: 15px;
}
.header__list li {
  padding: 0;
}
.header__list-item {
  padding-left: 10px;
  color: #961a37;
}
.header__list-item span {
  color: #ffffff;
}
.header__banner {
  position: relative;
  margin-top: 26px;
  padding: 34px 0 36px;
}
.header__banner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.47);
}

.banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  z-index: 5;
}
.banner__desc-top {
  text-align: center;
}
.banner__desc-bottom {
  text-align: center;
}
.banner__button {
  border-radius: 5px 25px;
  background-color: #961a37;
  color: inherit;
  text-decoration: none;
  width: 422px;
  padding: 13px 0;
  text-align: center;
  margin: 16px 0;
}
@media (max-width: 600px) {
  .banner__button {
    width: 100%;
  }
}
.banner__button--white {
  color: #ffffff;
}

.main__promo {
  background-color: #961a37;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  position: relative;
}
.main__promo:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -42px;
  height: 54px;
  width: 88px;
  transform: rotate(90deg);
  border-radius: 27px;
  border: 1px solid #ffffff;
  background-color: #961a37;
  background-image: url("./img/truck.svg");
  background-size: 53px 22px;
  background-repeat: no-repeat;
  background-position: 25px 16px;
}
.main__promo::after {
  content: "";
  display: block;
  position: absolute;
  top: -22px;
  left: 50%;
  margin-left: 2px;
  height: 21px;
  width: 3px;
  background-image: url(img/dot.png);
  background-size: 1px 9px;
  background-repeat: repeat-y;
}
.main__promo-title {
  font-size: 33px;
  padding-top: 70px;
}
.main__promo-desc {
  font-size: 20px;
  margin-top: 16px;
  padding-bottom: 47px;
}
.main__banner {
  background-color: #d0d7da;
  padding: 23px 0 30px;
}
.main__logistic {
  padding: 60px 0 50px;
  background: url("./img/user.png") no-repeat top right;
  background-size: contain;
}
.main__works {
  background-color: #3e3b44;
  color: #ffffff;
  padding: 63px 0 0;
  overflow: hidden;
}
.main__form-access {
  background: url("./img/back_screen_2.png") no-repeat center center;
  background-size: cover;
  padding: 67px 0 32px;
  color: #ffffff;
}

.logistic__title {
  font-size: 33px;
  font-weight: 400;
  padding-left: 180px;
}
@media (max-width: 600px) {
  .logistic__title {
    padding-left: 0;
    text-align: center;
  }
}
.logistic__list {
  margin: 60px 0 0 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.logistic__item {
  width: 20%;
  padding: 94px 0 0 0;
  text-align: center;
  margin-right: 75px;
}
@media (max-width: 600px) {
  .logistic__item {
    width: 100%;
    margin-right: 0;
    margin-top: 34px;
  }
}
.logistic__item--0 {
  background: url("./img/list_0.svg") no-repeat top center;
  background-size: 80px 80px;
}
.logistic__item--1 {
  background: url("./img/list_1.svg") no-repeat top center;
  background-size: 80px 80px;
}
.logistic__item--2 {
  background: url("./img/list_2.svg") no-repeat top center;
  background-size: 80px 80px;
}
.logistic__item--3 {
  background: url("./img/list_3.svg") no-repeat top center;
  background-size: 80px 80px;
  margin-top: 34px;
}
.logistic__item--4 {
  background: url("./img/list_4.svg") no-repeat top center;
  background-size: 80px 80px;
  margin-top: 34px;
}
.logistic__item--5 {
  background: url("./img/list_5.svg") no-repeat top center;
  background-size: 80px 80px;
  margin-top: 34px;
}

.works__title {
  font-size: 33px;
  font-weight: 400;
  text-align: center;
}
.works__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .works__wrapper {
    flex-direction: row;
  }
}
.works__desc {
  font-weight: 400;
  margin-top: 234px;
  border-radius: 5px 25px;
  border: 5px solid #961a37;
  position: relative;
  padding: 142px 11px 20px 20px;
  width: 61%;
}
@media (max-width: 1199px) {
  .works__desc {
    width: 100%;
    box-sizing: border-box;
  }
}
@media (max-width: 600px) {
  .works__desc {
    margin-top: 60px;
  }
}
.works__desc:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 149px;
  margin-left: -190px;
  background-image: url("./img/MacBook_Air.png");
  background-repeat: no-repeat;
  width: 819px;
  height: 304px;
  z-index: 5;
}
@media (max-width: 1199px) {
  .works__desc:before {
    width: 98%;
    height: 100%;
    background-size: contain;
    margin-left: 0;
    top: -50%;
  }
}
@media (max-width: 600px) {
  .works__desc:before {
    top: -48px;
  }
}
.works__desc-title {
  font-size: 24px;
}
.works__desc-text {
  margin-top: 16px;
  font-size: 18px;
}
.works__list {
  width: 50%;
  margin: 47px 0 0 16px;
  list-style: none;
  padding-top: 23px;
  padding-bottom: 129px;
  border-radius: 30px 0 0;
  background-color: #302d35;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  position: relative;
}
@media (max-width: 1199px) {
  .works__list {
    width: 100%;
    box-sizing: border-box;
    padding-right: 5px;
  }
}
.works__list:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 50vw;
  top: 0;
  background-color: #302d35;
}
.works__item {
  padding-left: 106px;
  margin-top: 43px;
  position: relative;
}
.works__item:first-child {
  margin-top: 0;
}
.works__item--1:before {
  content: "1";
  display: block;
  position: absolute;
  top: -20px;
  left: 58px;
  color: #961a37;
  font-size: 85px;
  font-weight: 300;
}
.works__item--2:before {
  content: "2";
  display: block;
  position: absolute;
  top: -20px;
  left: 58px;
  color: #961a37;
  font-size: 85px;
  font-weight: 300;
}
.works__item--3:before {
  content: "3";
  display: block;
  position: absolute;
  top: -20px;
  left: 58px;
  color: #961a37;
  font-size: 85px;
  font-weight: 300;
}
.works__item--1:after {
  content: "";
  display: block;
  position: absolute;
  background-size: contain;
  width: 64px;
  height: 56px;
  background-image: url("./img/pc.svg");
  background-repeat: no-repeat;
  top: 0;
  left: -10px;
}
.works__item--2:after {
  content: "";
  display: block;
  position: absolute;
  background-size: contain;
  width: 58px;
  height: 58px;
  background-image: url("./img/app.svg");
  background-repeat: no-repeat;
  top: 0;
  left: -8px;
}
.works__item--3:after {
  content: "";
  display: block;
  position: absolute;
  background-size: contain;
  width: 58px;
  height: 58px;
  background-image: url("./img/app_hand.svg");
  background-repeat: no-repeat;
  top: 0;
  left: -8px;
}

/*for include*/
/*tariffs*/
.main__tariffs {
  padding: 60px 0 65px;
  background-color: #FFF;
}

.tariffs {
  text-align: center;
}
.tariffs__title {
  color: #000000;
  font-size: 33px;
  font-weight: 400;
}
.tariffs__list {
  margin: 0;
  padding: 0;
  margin-top: 49px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tariffs__list li {
  padding: 0;
}
@media (max-width: 1089px) {
  .tariffs__list {
    flex-direction: column;
  }
}
.tariffs__item {
  display: flex;
  flex-direction: column;
  list-style: none;
  box-sizing: border-box;
}
@media (min-width: 320px) and (max-width: 499px) {
  .tariffs__item {
    width: 100%;
    margin: 0 auto 40px;
  }
}
@media (min-width: 500px) and (max-width: 1019px) {
  .tariffs__item {
    width: 400px;
    margin: 0 auto 40px;
  }
}
@media (min-width: 1020px) {
  .tariffs__item {
    width: 31.7%;
    margin-bottom: 0;
    margin-left: unset;
    margin-right: unset;
  }
}
.tariffs__item-title {
  border-radius: 5px 25px;
  box-sizing: border-box;
  width: 100%;
  padding: 13px 0;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #961a37;
  background-color: #e3eaee;
}
.tariffs__price {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}
.tariffs__desc {
  margin-top: 25px;
  margin-bottom: 28px;
  padding: 0 17px;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
.tariffs__button {
  margin-top: auto;
  border-radius: 5px 25px;
  display: block;
  background-color: #961a37;
  color: #ffffff;
  text-decoration: none;
  width: 100%;
  font-size: 20px;
  box-sizing: border-box;
  padding: 13px 0;
  text-align: center;
}

/*Access*/
.main__access {
  padding: 70px 0 102px;
  background-color: #e3eaee;
}

.access__title {
  color: #000000;
  text-align: center;
  font-size: 33px;
  font-weight: 400;
}
.access__list {
  margin: 0;
  padding: 0;
  margin-top: 67px;
  display: flex;
  flex-direction: row;
}
.access__list li {
  padding: 0;
}
@media (max-width: 950px) {
  .access__list {
    flex-direction: column;
  }
}
.access__item {
  flex-shrink: 0;
  position: relative;
  list-style: none;
  height: 241px;
  box-sizing: border-box;
  color: #ffffff;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  background-repeat: no-repeat;
}
.access__item:nth-child(1) {
  width: 310px;
  z-index: 4;
  padding: 17px 36px 0 25px;
  background-image: url(img/access-1.png);
  background-size: 310px 241px;
}
.access__item:nth-child(2) {
  width: 310px;
  z-index: 3;
  left: -17px;
  padding: 67px 102px 0 29px;
  background-image: url(img/access-2.png);
  background-size: 310px 241px;
}
.access__item:nth-child(3) {
  width: 310px;
  z-index: 2;
  left: -34px;
  padding: 120px 88px 0 29px;
  background-image: url(img/access-3.png);
  height: 241px;
  background-size: 310px 241px;
}
.access__item:nth-child(4) {
  width: 293px;
  z-index: 1;
  left: -53px;
  padding: 173px 32px 0 24px;
  background-image: url(img/access-4.png);
  background-size: 293px 241px;
}
@media (min-width: 1151px) and (max-width: 1200px) {
  .access li.access__item {
    width: 25% !important;
    padding: 88px 20px 10px;
    left: 0;
    height: 241px;
    background-size: 100% 100%;
  }
}
@media (max-width: 1150px) {
  .access li.access__item {
    width: 50%;
  }
}
@media (max-width: 950px) {
  .access li.access__item {
    width: 95%;
    left: 0;
    margin: 0 auto;
  }
}

/*4 start*/
.form-access__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form-access__title {
  font-size: 33px;
  font-weight: 400;
  text-align: center;
}
.form-access__title-inner {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.form-access__desc {
  font-size: 24px;
  font-weight: 400;
  margin-top: 22px;
  text-align: center;
}
.form-access__form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form-access__form-wrapper {
  border-radius: 5px 25px;
  border: 5px solid #961a37;
  margin-top: 32px;
  padding: 29px 29px 27px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form-access__form-wrapper-inner {
  margin-top: 20px;
}
@media (max-width: 768px) {
  .form-access__form-wrapper-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.form-access__input {
  border-radius: 5px 25px;
  background-color: #e3eaee;
  display: inline-block;
  margin-right: 30px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  height: 50px;
  width: 342px;
  padding-left: 16px;
  color: #000000;
}
@media (max-width: 400px) {
  .form-access__input {
    width: 100%;
    box-sizing: border-box;
  }
}
.form-access__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
.form-access__input:last-child {
  margin-right: 0;
}
@media (max-width: 768px) {
  .form-access__input:last-child {
    margin-top: 15px;
  }
}
.form-access__politics {
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
}
.form-access__button {
  border-radius: 5px 25px;
  background-color: #961a37;
  color: inherit;
  text-decoration: none;
  width: 422px;
  padding: 16px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-top: 16px;
  border: none;
}
@media (max-width: 400px) {
  .form-access__button {
    width: 100%;
    box-sizing: border-box;
  }
}
.form-access__contacts {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
@media (max-width: 768px) {
  .form-access__contacts {
    flex-direction: column;
  }
}
.form-access__link {
  text-decoration: none;
  font-size: 33px;
  font-weight: 400;
  color: inherit;
  margin-right: 60px;
  padding-top: 75px;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: top center;
}
@media (max-width: 768px) {
  .form-access__link {
    margin-right: 0;
    margin-top: 15px;
  }
}
.form-access__link:last-child {
  margin-right: 0;
}
.form-access__link--tel {
  background-image: url("./img/call2.svg");
}
.form-access__link--email {
  background-image: url("./img/mail2.svg");
}

/* 4 end*/
.footer {
  background-color: #302d35;
}
.footer__copy {
  padding: 30px 15px 25px;
  color: #e3eaee;
  text-align: center;
  font-size: 16px;
}

/*# sourceMappingURL=index.css.map */
